wildfly-configuration:
  socket-binding-group:
    standard-sockets:
      remote-destination-outbound-socket-binding:
        wildfly0:
          host: "{{ wildfly_remote_destination_outbound_socket_binding.wildfly0.host }}"
          port: "{{ wildfly_remote_destination_outbound_socket_binding.wildfly0.port }}"
        wildfly1:
          host: "{{ wildfly_remote_destination_outbound_socket_binding.wildfly1.host }}"
          port: "{{ wildfly_remote_destination_outbound_socket_binding.wildfly1.port }}"
        wildfly2:
          host: "{{ wildfly_remote_destination_outbound_socket_binding.wildfly2.host }}"
          port: "{{ wildfly_remote_destination_outbound_socket_binding.wildfly2.port }}"
  subsystem:
    jgroups:
      stack:
        tcp-cluster:
          transport:
            TCP:
              socket-binding: jgroups-tcp
          protocol:
            TCPPING:
              socket-bindings:
                - wildfly0
                - wildfly1
                - wildfly2
            MERGE3:
            FD_SOCK:
            FD_ALL:
            VERIFY_SUSPECT:
            pbcast.NAKACK2:
            UNICAST3:
            pbcast.STABLE:
            pbcast.GMS:
            MFC:
            FRAG3:
      channel:
        ee:
          stack: tcp-cluster
